.custom-img {
  border-radius: 50%;
  border: 3px solid rgb(0, 140, 255);
}

.h3-custom {
  color: white;
  letter-spacing: 5px;
}

.p-custom {
  color: white;
  padding: 3px 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: none;
}